# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Ignore SQLite database files within the src/database folder
src/database/*.sqlite


# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
