.legal-markdown h1,
h2 {
  font-weight: 700;
  font-feature-settings: "pnum" on, "lnum" on;
}

.dashboard-container {
  overflow-y: auto; /* Enable vertical scrolling */
  width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.h5,
h5 {
  font-size: 1.25rem;
}

.h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
}

.h4,
h4 {
  font-size: calc(1.275rem + 0.3vw);
}

.h4,
h4 {
  font-size: 1.5rem;
}

/* Define keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: auto; /* Adjust if needed */
  }
}

/* Apply the animation globally */
.component-container {
  animation: fadeIn 0.5s ease-out;
}
